<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 500</title>
</head>
<body>
    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>Oops! A server error occurred.  Please contact the administrator.</h3>
				<h1><span>5</span><span>0</span><span>0</span></h1>
			</div>
			<h2>we are sorry, server down</h2>
		</div>
	</div>

</body>
</html>