{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}

{% block content %}
			<!-- Banner -->
				<section id="banner">
					<h2 class="heading">HEALTH FOR ALL</h2>
					<p>Creating, Managing and Securing Patients medical records for better and quicker health response</p>
					<ul class="actions special">
						<li><a href="#" class="button primary">Learn More</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Introducing the ultimate mobile app
							<br />
							for doing stuff with your phone</h2>
							<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
							adipiscing nunc adipiscing. Condimentum turpis massa.</p>
						</header>
						<span class="image featured"><img src="{% static 'css/images/oildrug.jpg' %}" alt="" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon solid major fa-bolt accent2"></span>
								<h3>Quick Response</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon solid major fa-chart-area accent3"></span>
								<h3>The right answers</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon solid major fa-cloud accent4"></span>
								<h3>Seamless care</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon solid major fa-lock accent5"></span>
								<h3>Secured Medical Records</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
					</section>

					<div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="{% static 'css/images/medical.jpg' %}" alt="" /></span>
								<h3>Support service</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="{% static 'css/images/featured1.jpg' %}" alt="" /></span>
								<h3>Medical Research</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">
					{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
								<div class="alert alert-danger alert-dismissable">
									<a href="{% url 'home' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
							<div class="alert alert-danger alert-dismissable">
								<a href="{% url 'home' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}

					<h2>Contact Us</h2>
					<p>
						You can contact us if you have any medical complaints or questions
					</p>

					<form method="POST" action="">
						{% csrf_token %}
						<div class="row gtr-50 gtr-uniform">
							<div class="col-6 col-12-mobilep">
								<input type="text" name="name" id="name" placeholder="Name" required/>
							</div>
							<div class="col-6 col-12-mobilep">
								<input type="email" name="email" id="email" placeholder="Email Address" required/>
							</div>
							<div class="col-12 col-12-mobilep">
								<input type="text" name="message" id="message" placeholder="Message" required/>
							</div>
							<div class="col-12 col-12-mobilep">
								<input type="submit" value="Send" class="fit" />
							</div>
						</div>
					</form>

				</section>

{% endblock %}